@tailwind base;
@tailwind components;
@tailwind utilities;

@import './resets.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --color-primary-50: #fef2f2;
  --color-primary-100: #ffe2e1;
  --color-primary-200: #ffcac8;
  --color-primary-300: #ffa5a2;
  --color-primary-400: #fd706c;
  --color-primary-500: #f6423d;
  --color-primary-600: #e3251f;
  --color-primary-700: #bf1b16;
  --color-primary-800: #9e1a16;
  --color-primary-900: #831c19;
  --color-primary-950: #470a08;
  --color-primary: #9e1a16;

  background-color: #d6d3d1;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  
}

h1 { 
  @apply text-6xl font-bold;
}

h2 { 
  @apply text-2xl font-semibold uppercase text-stone-500;
}

h2.section_header { 
  @apply text-2xl font-semibold py-5 uppercase text-stone-500;
}

h3 { 
  @apply text-xl font-semibold;
}

p, span { 
  @apply text-base font-normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .screen_container { 
    @apply mx-auto px-5 sm:px-10 xl:max-w-screen-xl;
  }

  .section_padding { 
    @apply py-10;
  }
}

  